# ============================================
# PYTHON CACHE & COMPILED FILES
# ============================================
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebooks checkpoints
.ipynb_checkpoints/

# ============================================
# NOTEBOOKS & EXPORTS
# ============================================
# on ignore les checkpoints + exports lourds.
*.html
*.pdf

# ============================================
# MLFLOW
# ============================================
# Ce dossier NE DOIT PAS aller sur GitHub — totalement inutile et très lourd.
mlruns/

# Par sécurité :
**/mlruns/
mlartifacts/
mlartifacts/**

# ============================================
# DONNÉES
# ============================================
# Ces CSV contiennent soit des résultats, soit des données.
# À ignorer pour éviter un repo trop lourd ou contenant des données sensibles.

business_cost_summary.csv
optuna_cost_optimization_summary.csv

# Ignorer les datasets lourds
data/*
datasets/
raw_data/

# Autoriser les exemples / README
!data/README.md
!data/sample_*.csv


# ============================================
# MODELS LOCAUX
# ============================================
# Les modèles générés par MLFlow ne doivent pas être commit.
models/
model/
*.pkl
*.joblib
*.sav

# ============================================
# IMAGES / EXPORTS
# ============================================
# SHAP et autres images volumineuses
*.png
*.jpg
*.jpeg

# ============================================
# ENVIRONNEMENTS VIRTUELS
# ============================================
venv/
env/
.venv/

# ============================================
# LOGS
# ============================================
logs/
*.log

# ============================================
# OS SPECIFIC
# ============================================
.DS_Store
Thumbs.db

# ============================================
# CLOUD / SECRETS
# ============================================
# IMPORTANT : ne jamais versionner les clés d'accès
# Secrets uniquement
*.pem
*.key
.env

# ============================================
# STREAMLIT
# ============================================
.streamlit/

# ============================================
# CSV
# ============================================
*.csv
