fastapi==0.121.2
uvicorn==0.38.0

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2

lightgbm==4.3.0
xgboost==2.1.1
imbalanced-learn==0.12.3

shap==0.44.1

pydantic==1.10.24
httpx==0.28.1

streamlit==1.40.1
requests==2.32.3
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4